* {
	backgroundColor: rgb(237,237,237);
	buttonColor: #007ac0;
    buttonColorHover: derive(buttonColor, +15%);
    buttonColorPressed: derive(buttonColorHover, +15%);
}

.dialog-pane {
  /*-fx-border-color: backgroundColor;*/
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: gray;
}
 
.dialog-pane:no-header .graphic-container {
     -fx-padding: 0;
}

/* Bottom area (buttons) */
.dialog-pane > .button-bar > .container {
  -fx-background-color: backgroundColor;
}

/* Title (NOT header) */
.dialog-pane > .content.label {
   /*-fx-background-color: backgroundColor;*/
   /*-fx-padding: 0.5em 0.5em 0.5em 0.5em;*/
   -fx-padding: 0em 0.8em 0.5em 0.8em;
   -fx-text-fill: black;
   -fx-font-size: 16px;
}

/* Header */
.dialog-pane:header .header-panel {
  -fx-background-color: #f4f4f4;
  -fx-padding: 0.5em 0.8em 0.1em 0.8em;

}

/* Header text */
.dialog-pane:header .header-panel .label {
  -fx-background-color: #f4f4f4;
  -fx-background-radius: 0px;
  -fx-text-fill: black;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}


/* Buttons of the bottom area*/
.dialog-pane .button{
  -fx-padding: 10 25 10 25;
  -fx-border-width: 0;
  -fx-background-radius: 5;
  -fx-border-radius: 5;
  -fx-background-color: buttonColor;
  -fx-text-fill: white;
}

.dialog-pane .button:hover{
  -fx-background-color: buttonColorHover;
}

.dialog-pane .button:pressed, .dialog-pane .button:default:hover:pressed {
  -fx-background-color: buttonColorPressed;
}